.account-info__wrapper{
  /*width: calc(100% - 24px);*/
  display: flex;
  align-items: center;
  border-radius: 32px;
  padding: 8px;
  background: rgba(0,0,0,0.6);
  margin-bottom: 5vh;
}

.account-info__image{
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.account-info__name{
  margin-left: 12px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}


