* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #161616;
    /*position: relative;*/
}

.codezavry {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: white;
    font-weight: 1;
}


.mainDino {
    /*width: 100%;*/
    object-fit: contain;
    /*height: 1000px;*/
}

.form {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    /*padding: 310px;*/
    /*max-width: 30%;*/
    position: relative;
    width: 40%;
    margin-top: 0;
}


.polya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.reg {
    color: white;
    margin-bottom: 20px;
}


.email {
    margin-bottom: 10px;
    border-radius: 10px;
}


.password {
    margin-bottom: 20px;
}

.passwordInput {
    position: relative;
}

.showPasswordButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}


.entrance {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: none;
}


.textEmail {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}


.textPassword {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}


.passwordForgot {
    background-color:  #161616;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 5px;
}

.forgotPasswordButton {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.forgotPasswordButton:hover {
    color: lightgray;
    transition: background-color 0.3s ease;
}

.forgotPasswordButton:active {
    color: #8d8c8c;
}

.mainEmail {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: #323232;
    color: white;
    font-size: 15px;
    border: none;
    padding: 0 0 0 10px;
}


.mainPassword {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: #323232;
    color: white;
    font-size: 15px;
    border: none;
    padding: 0 0 0 10px;
}


.mainEmail::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.mainPassword::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.entrance:hover {
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.entrance:active {
    background-color: #8d8c8c;
}


.showPasswordIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
}