.personal-area-header__wrapper{
  width: 15vw;
  /*height: 100vh;*/
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.personal-area-header__footer{
  border-top: 1px solid lightgray;
}
